torch --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
torchaudio --index-url https://download.pytorch.org/whl/cu128
plotly
kaleido
pandas
ipykernel
optuna
scikit-learn
requests
